@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}
.main-block{
  background: rgba(255, 251, 247, 0.705);
  box-shadow: 0 0  5px #aaa; 
  overflow: hidden;
}
.main-block::before {
  content: '';
  position: absolute;
  width: 100%;
  filter: blur(100px);
  top:0; right:0; bottom:0; left:0;
  z-index: -1;
  background: rgba(241, 239, 236, 0.5); /* debug用的紅色背景 */
}
.block-button:hover{
   background-color: #1A659E;
   color: white;
   transition: .5s;
}
.block-button:hover svg path{
  fill: white;
}
body .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
  background-color: #1A659E;
  color: #ffffff;
}
body .css-1wf8b0h-MuiTabs-flexContainer{
  background-color: #c9c9c9;
}
body .css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
  width: 50%;
  min-height: 36px;
}
body .css-1ujnqem-MuiTabs-root{
  min-height: 36px;
}
body .css-1mbunh-MuiPaper-root{
  cursor: pointer;
}
body .css-1mbunh-MuiPaper-root:hover{
  background-color: #fffae7;
}
body .css-1aquho2-MuiTabs-indicator{
  display: none;
}
/* 下拉選單 */
body .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
  padding: 0.5rem 1.5rem;
}
body .css-709u9m-MuiFormLabel-root-MuiInputLabel-root{
  transform: unset;
  line-height: 1;
  top: 0.8rem;
  left: 1rem;
}

@media screen and (min-width:480px){
  body .css-1ujnqem-MuiTabs-root{
    display: none;
  }
}